$color1:#12172b;
$color2:#314D68;
$color3: #663167;
$color4: #4B3167;

body {
  position: absolute  ;
  font-family: sans-serif;
  text-align: center;
  background-color: $color1;
  color: white;
  display: grid;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box;
  padding: 1rem;
}

#info {
  position: absolute;
  display: flex;
  flex-direction: row;
  gap: .125rem;
  padding: 1rem;
  width: 100%;
  height: 1rem;
  box-sizing: border-box;
}

#language_change {
  height: min-content;
  padding: .25rem;
  font-size: .75rem;
  border: 1px solid white;
  border-radius: .25rem;
  background-color: transparent;
  color: white;
}

.chart {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 1rem;

  > * {
    fill: white;
    color: white;
  }

  ._chartistry_tooltip {
    border: 1px solid white !important;
    background-color: $color1 !important;
    border-radius: 1rem;
    z-index: 10;
  }

  ._chartistry_series {
    animation: pathInAniation 2s forwards;
    stroke-dasharray: 200%;
    stroke-dashoffset: 200%;
  }
}

@keyframes pathInAniation {
  to {
    stroke-dashoffset: 0;
  }
}

.tab_selector {
  display: flex;
  justify-content: flex-start;
  height: min-content;
  border-bottom: 1px solid white;

  > button, a {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    border: 1px solid white;
    border-radius: .25rem .25rem 0 0;
    text-decoration: none;
    padding: .125rem .5rem;
  }
}

.tab_elements {
  overflow-y: auto;
}

#inputs {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
}

.input-vertical {
  display: flex;
  flex-direction: column;
}

.input-horizontal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-grow: 1;
  overflow: hidden;
}

.input-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.input-small-range-inner-cont {
  flex-grow: 1;
  height: 1.25rem;
  display: flex;
  align-items: center;

  > input {
    width: 100%;
    -webkit-appearance: none;
    appearance: none;
    background-color: $color1;
    border-radius: 1rem;
    border: 1px solid white;
    height: .75rem;
    
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: .25rem;
      background-color: $color1;
      border: 1px solid white;
    }

    &::-moz-range-thumb {
      appearance: none;
      width: 1.25rem;
      height: 1.25rem;
      border-radius: .25rem;
      background-color: $color1;
      border: 1px solid white;
    }
  }
}

#mode-range-cont {
  width: 100%;
  height: 2rem;
}

#mode-range {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  border-radius: 1rem;
  height: 1rem;
  transition: opacity .2s;

  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 1rem;
    height: 2rem;
    border-radius: .25rem;
    background-color: $color1;
    border: 1px solid white;
  }

  &::-moz-range-thumb {
    appearance: none;
    width: 1rem;
    height: 2rem;
    border-radius: .25rem;
    background-color: $color1;
    border: 1px solid white;
  }
}

#mode-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  > span {
    flex: 1;
  
    &:nth-child(1) {
      text-align: left;
    }

    &:nth-child(2) {
      text-align: center;
    }

    &:nth-child(3) {
      text-align: right;
    }
  }
}

.input-switch {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  flex-grow: 1;
  width: 100%;
  border: none;
  background-color: $color1;
  font-size: medium;
  padding: 0;
  margin: 0;
  border: 1px solid white;
  border-radius: 1rem;

  > *:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
    z-index: 1;
  }

  > *:nth-child(2) {
    grid-column: 2;
    grid-row: 1;
    z-index: 1;
  }
}

.input-switch-highlight {
  position: relative;
  left: -25%;
  border: 1px solid white;
  z-index: 0;
  height: 100%;
  width: 50%;
  justify-self: center;
  align-self: center;
  grid-row: 1;
  border-radius: 1rem;
  padding: 0;
  grid-column: 1 / 3;
  transition: left .2s, background-color .2s;
}

.input-switch-highlight-left {
  background-color: $color4;
  left: -25%;
}

.input-switch-highlight-right {
  background-color: $color3;
  left: 25%;
}

.input-switch-label {
  color: white;
}

#equations {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  justify-content: center;
  padding: 1rem;
  overflow-y: auto;
  box-sizing: border-box;
}

#mass_bar_chart {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 95% auto;
  height: 100%;
  overflow-y: auto;

  > .chart {
    height: 100%;
    padding: 0;

    ._chartistry_tooltip {
      display: none;
    }

    ._chartistry_tick_label {
      display: none;
    }
  }
}

#mass_bar_chart_values {
  display: flex;
  flex-direction: row;
  
  > span {
    border: 1px solid white;
    border-radius: 1rem;
  }
}

@media screen and (orientation: landscape) and (min-width: 1024px) {
  body {
    grid-template-columns: 40% 60%;
    grid-template-rows: min-content auto 1fr;
    
    > * {
      box-sizing: border-box;
      margin: .25rem;
    }
  }

  h1 {
    grid-column: 1 / 3;
    grid-row: 1;
    padding: 2rem;
  }

  .chart_primary {
    grid-column: 1;
    grid-row: 2 / 4;
    background-color: $color1;
  }

  #inputs {
    justify-content: space-between;
    background-color: $color2;
    border-radius: 1rem;
    gap: 1rem;
  }

  .input-vertical {
    padding: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
    flex-grow: 1;
  }

  .input-horizontal {
    gap: 1rem;
    border: 1px solid white;
    border-radius: 1rem;
  }

  .input-range-cont-with-value {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: .5rem;

    > label {
      grid-column: 1 / 3;
    }

    > input, > span {
      grid-row: 2;
      flex-grow: 1;
    }
  }

  .input-small-range-inner-cont {
    > input {
      opacity: .7;
      transition: opacity .2s;

      &:hover {
        opacity: 1;
      }
      
      &::-webkit-slider-thumb {
        cursor: pointer;
      }

      &::-moz-range-thumb {
        cursor: pointer;
      }
    }
  }

  #mode-range {
    opacity: .7;
    transition: opacity .2s;
    cursor: pointer;

    &:hover {
      opacity: 1;
    }

    &::-webkit-slider-thumb {
      cursor: pointer;
    }

    &::-moz-range-thumb {
      cursor: pointer;
    }
  }

  .input-switch {
    cursor: pointer;

    > *:nth-child(1) {
      padding: 1rem;
    }

    > *:nth-child(2) {
      padding: 1rem;
    }
  }

  .tab_container {
    background-color: $color2;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
  }

  .tab_selector {
    margin-top: .5rem;
    padding: 0 1rem;
    gap: .5rem;

    > button, a {
      cursor: pointer;
      transition: transform .25s ease-in-out;

      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .tab_elements {
    height: 100%;
    padding: 1rem;
  }

  #mass_bar_chart_values {
    justify-content: center;
    gap: 1rem;
    
    > span {
      padding: 1rem;
    }
  }
}

@media screen and (orientation: portrait), screen and (max-width: 1024px) {
  body {
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr 1fr;
    overflow-x: hidden;
  }

  ._chartistry_tooltip {
    ._chartistry_snippet {
      font-size: 0;

      > *:not(svg) {
        display: none;
      }
    }
  }

  .tab_container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content 1fr;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
  }

  .tab_selector {
    margin-top: .25rem;
    padding: 0 .5rem;
    gap: .25rem;
    overflow: hidden;
    box-sizing: border-box;
  }

  .tab_elements {
    top: 0;
    height: 100%;
    max-width: 100%;
    overflow: auto;
    box-sizing: border-box;
  }

  #home_portrait_tab {
    background-color: $color2;
    border-radius: 1rem;
  }

  #inputs {
    overflow: auto;
    gap: .5rem;
  }

  .input-horizontal {
    gap: .5rem;
  }

  .input-section {
    border: 1px solid white;
    border-radius: 1rem;
    padding: 1rem;
  }

  .input-range-cont-with-value {
    display: flex;
    flex-direction: column;
    gap: .25rem;

    > * {
      grid-row: 1;
      flex-grow: 1;
    }
  }

  #mode-range-cont {
    height: 1rem;
  }

  #mode-labels {
    padding-top: .5rem;
  }

  .input-switch {
    > *:nth-child(1) {
      padding: .5rem;
    }

    > *:nth-child(2) {
      padding: .5rem;
    }
  }

  #mass_bar_chart_values {
    gap: .25rem;

    > span {
      padding: .25rem;
    }
  }
}